<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="AirSoft.FlightMonitor.FlightDispClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="AirSoft.FlightMonitor.FlightDispClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<appSettings>
		<add key="LogOnUser1" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF1" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser2" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF2" value="1"/>
		<add key="LogOnUser3" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF3" value="1"/>
		<add key="LogOnUser4" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF4" value="1"/>
		<add key="LogOnUser5" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF5" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser6" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF6" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser7" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF7" value="1"/>
		<add key="LogOnUser8" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF8" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser9" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF9" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser10" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF10" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser11" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF11" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser12" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF12" value="1"/>
		<add key="LogOnUser13" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF13" value="1"/>
		<add key="LogOnUser14" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF14" value="1"/>
		<add key="LogOnUser15" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF15" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser16" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF16" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser17" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF17" value="1"/>
		<add key="LogOnUser18" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF18" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser19" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF19" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser20" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF20" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser21" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF21" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser22" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF22" value="1"/>
		<add key="LogOnUser23" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF23" value="1"/>
		<add key="LogOnUser24" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF24" value="1"/>
		<add key="LogOnUser25" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF25" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser26" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF26" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser27" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF27" value="1"/>
		<add key="LogOnUser28" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF28" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser29" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF29" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser30" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF30" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser31" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF31" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser32" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF32" value="1"/>
		<add key="LogOnUser33" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF33" value="1"/>
		<add key="LogOnUser34" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF34" value="1"/>
		<add key="LogOnUser35" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF35" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser36" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF36" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser37" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF37" value="1"/>
		<add key="LogOnUser38" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF38" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser39" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF39" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser40" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF40" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser41" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF41" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser42" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF42" value="1"/>
		<add key="LogOnUser43" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF43" value="1"/>
		<add key="LogOnUser44" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF44" value="1"/>
		<add key="LogOnUser45" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF45" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser46" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF46" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser47" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF47" value="1"/>
		<add key="LogOnUser48" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF48" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser49" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF49" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser50" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF50" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser51" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF51" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser52" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF52" value="1"/>
		<add key="LogOnUser53" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF53" value="1"/>
		<add key="LogOnUser54" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF54" value="1"/>
		<add key="LogOnUser55" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF55" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser56" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF56" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser57" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF57" value="1"/>
		<add key="LogOnUser58" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF58" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser59" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF59" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser60" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF60" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser61" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF61" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser62" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF62" value="1"/>
		<add key="LogOnUser63" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF63" value="1"/>
		<add key="LogOnUser64" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF64" value="1"/>
		<add key="LogOnUser65" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF65" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser66" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF66" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser67" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF67" value="1"/>
		<add key="LogOnUser68" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF68" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser69" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF69" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser70" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF70" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser71" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF71" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser72" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF72" value="1"/>
		<add key="LogOnUser73" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF73" value="1"/>
		<add key="LogOnUser74" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF74" value="1"/>
		<add key="LogOnUser75" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF75" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser76" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF76" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser77" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF77" value="1"/>
		<add key="LogOnUser78" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF78" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser79" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF79" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser80" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF80" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser81" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF81" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser82" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF82" value="1"/>
		<add key="LogOnUser83" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF83" value="1"/>
		<add key="LogOnUser84" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF84" value="1"/>
		<add key="LogOnUser85" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF85" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser86" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF86" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser87" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF87" value="1"/>
		<add key="LogOnUser88" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF88" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser89" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF89" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser90" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF90" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser91" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF91" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser92" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF92" value="1"/>
		<add key="LogOnUser93" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF93" value="1"/>
		<add key="LogOnUser94" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF94" value="1"/>
		<add key="LogOnUser95" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF95" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser96" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF96" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser97" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF97" value="1"/>
		<add key="LogOnUser98" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF98" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser99" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF99" value="1"/>
		<!--  是否成功注销-->
		<add key="LogOnUser100" value=""/>
		<!--  上次登陆用户ID-->
		<add key="LogOFF100" value="1"/>
		<!--  是否成功注销-->
		<add key="LogIndex" value="1"/>
		<add key="PositionID" value="3"/>
		<!-- 上次登陆的席位编号-->
		<add key="dbFlightMonitor" value="U2VydmVyPTEwLjIuMTA0LjEzO0RhdGFiYXNlPWRiRmxpZ2h0TW9uaXRvcjtVaWQ9Zm1zO1B3ZD1mbXNANjU0OTs=" />
		<!-- 航班监控系统数据库配置地址-->
		<add key="dbDSPBusiness" value="U2VydmVyPU9QQy5ITkFJUi5ORVQ7RGF0YWJhc2U9ZGJEaXNwYXRjaDtVaWQ9VVMwMUNSV19JVUQ7UHdkPU9wYyxAY3J3LjAxOw==" />
		<!-- 计算机飞行计划数据库-->
		<add key="flt_dept" value="U2VydmVyPU9QQy5ITkFJUi5ORVQ7RGF0YWJhc2U9Zmx0X2RlcHQ7VWlkPVVTMDFDUldfSVVEO1B3ZD1PcGMsQGNydy4wMTs=" />
		<!-- 运行网数据库-->
		<add key="smart" value="U2VydmVyPTEwLjIuMTA0LjQ7RGF0YWJhc2U9c21hcnQ7VWlkPXhpYW5jaGFuZztQd2Q9eGlhbmNoYW5nQGhuYWlyLm5ldDs=" />
		<!-- 签到数据库-->
		<add key="AutoAdjust" value="0" />
	</appSettings>
	<applicationSettings>
		<AirSoft.FlightMonitor.FlightDispClient.Properties.Settings>
   <setting name="FlightDispClient_CompFP_Plan" serializeAs="String">
    <value>http://10.2.104.250:4680/jetplan/services/Plan</value>
   </setting>
  </AirSoft.FlightMonitor.FlightDispClient.Properties.Settings>
	</applicationSettings>
 <userSettings>
  <AirSoft.FlightMonitor.FlightDispClient.Properties.Settings>
   <setting name="AirSoft_FlightMonitor_FlightDispClient_CompFP_Plan"
    serializeAs="String">
    <value>http://10.2.104.250:4680/jetplan/services/Plan</value>
   </setting>
  </AirSoft.FlightMonitor.FlightDispClient.Properties.Settings>
 </userSettings>
</configuration>