<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AirSoft.FlightMonitor.FlightMonitorDA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AirSoft.FlightMonitor.FlightMonitorDA.Properties.Settings>
            <setting name="AirSoft_FlightMonitor_FlightMonitorDA_FocService_FleetWatch"
                serializeAs="String">
                <value>http://10.2.104.13/FocService/FocService.asmx</value>
            </setting>
            <setting name="AirSoft_FlightMonitor_FlightMonitorDA_net_hnair_icms_Service"
                serializeAs="String">
                <value>http://icms.hnair.net:100/Service.asmx</value>
            </setting>
        </AirSoft.FlightMonitor.FlightMonitorDA.Properties.Settings>
    </applicationSettings>
</configuration>