<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
	<appSettings>
		<add key="dbFlightMonitor" value="U2VydmVyPTEwLjIuMTA0LjEzO0RhdGFiYXNlPWRiRmxpZ2h0TW9uaXRvcjtVaWQ9Zm1zO1B3ZD1mbXNANjU0OTs="/>
		<!-- 航班监控系统数据库配置地址-->
		<add key="flt_dept" value="U2VydmVyPU9QQy5ITkFJUi5ORVQ7RGF0YWJhc2U9Zmx0X2RlcHQ7VWlkPVVTMDFDUldfSVVEO1B3ZD1PcGMsQGNydy4wMTs="/>
		<!-- 运行网数据库-->
		<add key="dbFleetWatch" value="dXNlciBpZD1odXdlYjtkYXRhIHNvdXJjZT1mb2MuaG5hLm5ldDtwYXNzd29yZD13ZWI="/>
		<!--FleetWatch系统数据库（Oracle）-->
		<add key="ScheduleXMLFilePath" value="RDpcUHJvZ3JhbSBGaWxlc1xCaXp0YWxrXEZvY1NvbHV0aW9uc1xGaWxlXEZPSVNTY2hlZHVsZUZpbGU="/>
		<!--航班计划-->
		<add key="ChangeXMLFilePath" value="RDpcUHJvZ3JhbSBGaWxlc1xCaXp0YWxrXEZvY1NvbHV0aW9uc1xGaWxlXEZPSVNDaGFuZ2VGaWxl"/>
		<!--add key="ChangeXMLFilePath" value="WDpc"/-->
		<!--航班动态-->
		<add key="CrewInfo" value="Server=crwinterface.hnair.net;Database=dbRoster;Uid=foisuser;Pwd=fois.123"/>
	</appSettings>
</configuration>