<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AirSoft.FlightMonitor.FlightMonitorBF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AirSoft.FlightMonitor.FlightMonitorBF.Properties.Settings>
            <setting name="AirSoft_FlightMonitor_FlightMonitorBF_CFPWPService_clsWebServiceOfFPLInfo"
                serializeAs="String">
                <value>http://10.2.104.4/net/Webservice/InfoOfFPL.asmx</value>
            </setting>
            <setting name="AirSoft_FlightMonitor_FlightMonitorBF_PublicService_PublicService"
                serializeAs="String">
                <value>http://10.2.104.5/publicservice/publicservice.asmx</value>
            </setting>
            <setting name="AirSoft_FlightMonitor_FlightMonitorBF_SimWebService_Service"
                serializeAs="String">
                <value>http://10.2.58.163/SimWebService/Service.asmx</value>
            </setting>
        </AirSoft.FlightMonitor.FlightMonitorBF.Properties.Settings>
    </applicationSettings>
</configuration>