<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MessageService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="dbFlightMonitor" value="U2VydmVyPTEwLjIuMTA0LjEzO0RhdGFiYXNlPWRiRmxpZ2h0TW9uaXRvcjtVaWQ9Zm1zO1B3ZD1mbXNANjU0OTs=" />
    <!-- 航班监控系统数据库配置地址-->
    <add key="dbMessageService" value="U2VydmVyPTEwLjIuNTcuMTQ1O0RhdGFiYXNlPUhVX0JDSUFfQVNVUDtVaWQ9c2E7UHdkPXFpbGluc29mdDs=" />
    <!-- 机场消息数据库配置地址-->

    <add key="AgentIP" value="10.2.104.248" />
    <!-- 代理服务地址-->
    <add key="AgentPort" value="8085" />
    <!-- 代理服务端口-->

    <add key="DTTM" value="2015-08-21 13:54:23" />
    <!-- DTTM值，退出时记录，登陆时使用-->

    <add key="EventID" value="785657" />
    <!-- EventID值，退出时记录，登陆时使用-->

    <add key="AirportList" value="HAK;PEK;CAN;PVG;SHA;XIY;SZX;CKG;HHA,KMG,NGB,SYX,TSN;TYN,URC,ZGC,TAO,CTU;HET,INC,DLC,XMN,KHN;NNG,KWE,NKG,KWL,HKG;HGH,WUH,SHE,HFE,CGO;CGQ,WNZ,DLC,HRB,TNA;FOC,XNN,HAN,DSN,LJG,FOC" />
    <!-- 及时性告警：机场列表，;隔开的机场信息单独使用一个线程处理 -->
  </appSettings>
  <applicationSettings>
    <MessageService.Properties.Settings>
      <setting name="MessageService_OMPWebReference_FlightMonitorData"
        serializeAs="String">
        <value>http://10.2.104.13/OMP/FlightMonitorData.asmx</value>
      </setting>
      <setting name="MessageService_PaxService_PaxService" serializeAs="String">
        <value>http://10.2.104.16/NewPaxService/PaxService.asmx</value>
      </setting>
    </MessageService.Properties.Settings>
  </applicationSettings>
</configuration>