<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dbFlightMonitor" value="U2VydmVyPTEwLjIuMTA0LjEzO0RhdGFiYXNlPWRiRmxpZ2h0TW9uaXRvcjtVaWQ9Zm1zO1B3ZD1mbXNANjU0OTs=" />
		<!-- 航班监控系统数据库配置地址-->
		<add key="dbDSPBusiness" value="U2VydmVyPU9QQy5ITkFJUi5ORVQ7RGF0YWJhc2U9ZGJEaXNwYXRjaDtVaWQ9VVMwMUNSV19JVUQ7UHdkPU9wYyxAY3J3LjAxOw==" />
		<!-- 计算机飞行计划数据库-->
	</appSettings>
</configuration>